.grafico {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title {
  font-family: var(--font-poppins);
  display: flex;
  place-content: center;
  width: 100%;
}
.subtitle {
  font-family: var(--font-poppins);
  background: #5c5c5c;
  color: white;
  border-radius: 5px;
  padding: 0 2rem;
  font-size: 1.5rem;
  width: fit-content;
  text-align: center;
}

.estatistica p:last-child {
  border-bottom: 0;
}
.estatistica p {
  width: 100%;
  margin: 0;
  border-bottom: 1px solid #333333;
}
.estatistica {
  display: flex;
  flex-direction: column;
  font-family: var(--font-oswald);
  font-size: 1.5rem;
}

.estatisticaBox .subtitle {
  margin: 0;
  border-radius: 0;
}
.estatisticaBox {
  margin: 0;
  margin-top: 3rem;
  height: 100%;
  display: grid;
  align-items: center;
  border: 1px solid black;
  grid-template-rows: auto auto auto 1fr;
  text-align: center;
}
