.listas {
  list-style: none;
  padding: 0;
  margin: 0;
  border: 1px solid black;
  /* border-top: none; */
}
.itens p {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 0.5rem;
  margin: 0.25rem 0;
  font-size: 1.4rem;
}

.itens span {
  font-weight: bold;
}

.itens p span {
  text-align: left;
}

.itens p {
  justify-content: space-between;
  text-align: end;
  margin: 2px 5px;
  border-bottom: 1px solid black;
}

.itens p:last-child {
  margin-bottom: 0;
  border-bottom: none;
}

.subtitle {
  color: #fefaec;
  font-size: 2rem;
  margin: 0;
  border: 1px solid black;
  border-bottom: none;
  padding: 0 4rem;
  background: #2e7d32;
  white-space: nowrap;
}

@media (max-width: 56rem) {
  .bloco {
    width: 100%;
    max-width: 400px; /* ou 100%, se preferir ocupar tudo */
    margin: 0 auto;
  }

  .listas {
    width: 90%;
  }

  .subtitle {
    text-align: center;
    width: 90%;
    padding: 0.5rem 0;
  }
}
