.button {
  font-size: 2rem;
  padding: 10px 16px;
  border: none;
  background: linear-gradient(to right, #1c1c1c, #3d3d3d);
  color: white;
  border-radius: 100%;
  cursor: pointer;
  transition: 0.2s;
  min-width: 60px;
  min-height: 60px;
}
.button:hover {
  /* background-color: #005bb5; */
  background: linear-gradient(to right, #000000, #1c1c1c);
}
